
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Pixelify+Sans&family=Poppins:ital,wght@1,700&display=swap');
body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    line-height: 1;
    font-family: "Kalam";
    font-weight: bold;
    font-size: 0.6rem;
    padding-top:10% ;

}

span{
    font-weight:bolder;
}
.names{
    font-size: 35px;
    font-weight: bolder;
    background: -webkit-linear-gradient(rgba(131,58,180,1) 53%, rgb(163, 21, 156) 20%, rgb(197, 108, 178) 77%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Lobster', sans-serif;
    
}
.amp{
    font-size: 1.5rem;
    color: rgb(151, 12, 216);

}
p{
    color: rgb(138, 39, 184);
    letter-spacing: 0.5px;
}
h1{
    color: #aa10f1;
    font-weight:bold;
    padding-bottom: 20px;
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}
.finalimg{
    display:flex;
    justify-content: space-between;
    gap: 200px;
    padding-top: 0;
    margin-bottom: 0;
}
pre{
    color: rgb(151, 12, 216);
    font-weight: bolder;
    font-size: 9px;
    margin-right: 20%;
    padding-bottom: 0; 
    margin-bottom:0;  
}
.firstLine{
    font-size: large;
    padding:0;
    margin:0;
}
